@use "@/styles/base.scss";

* {
    box-sizing: border-box;
}

#__next,
.app-root {
    height: 100%;
    width: 100%;
}

html,
body {
    @media print {
        background-color: white;
        color: base.$print-text;
    }
}

.footer {
    background-color: var(--surface);
    color: var(--text);

    @media print {
        display: none;
    }
}

@media screen {

    /* Grid Layout */
    .container {
        display: grid;
        grid-template-rows: auto 1fr auto;
        /* Header, Content, Footer */
        height: calc(var(--vh, 1vh) * 100);
    }

    /* Sticky Header */
    .header {
        position: sticky;
        top: 0;
        z-index: 10;
    }

    /* Main Content */
    // .content {
    //     overflow-y: auto;
    // }

    /* Footer */
    .footer {
        padding: .25rem;
        text-align: center;
    }

    ::-webkit-scrollbar {
        width: 0;
    }
}