@use "@/styles/base.scss";

* {
    box-sizing: border-box;
}

#__next,
.app-root {
    height: 100%;
    width: 100%;
}

html,
body {
    overflow-x: hidden;
    background-color: var(--surface);

    @media print {
        background-color: white;
        color: base.$print-text;
    }
}

a {
    text-decoration: none;
}

@media screen {

    /* Grid Layout */
    .container {
        display: grid;
        grid-template-rows: auto 1fr auto;
        /* Header, Content, Footer */
        height: calc(var(--vh, 1vh) * 100);
    }

    /* Sticky Header */
    .header {
        position: sticky;
        top: 0;
        z-index: 10;
    }

    /* Main Content */
    .content {
        overflow-x: hidden;
        overflow-y: auto;
    }

    /* For WebKit browsers (Chrome, Safari, Edge) */
    ::-webkit-scrollbar {
        width: 3px;
        height: 3px;
        background-color: var(--surface);
    }

    ::-webkit-scrollbar-thumb {
        background-color: var(--accent);
        border-radius: 2px;
    }

    ::-webkit-scrollbar-track {
        background-color: var(--surface);
    }

    ::-webkit-scrollbar-thumb:hover {
        background-color: var(--accent); // stays the same
    }

    ::-webkit-scrollbar-track:hover {
        background-color: var(--mute);
    }

    /* For Firefox */
    * {
        scrollbar-width: thin;
        scrollbar-color: var(--accent) var(--surface);
    }
}

@media print {

    html,
    body {
        height: auto !important;
        overflow: visible !important;
    }

    .container {
        height: auto !important;
        display: block !important;
    }

    .content {
        overflow: visible !important;
        height: auto !important;
        min-height: 100vh;
    }

    .header {
        position: static !important;
    }

    .footer {
        display: none !important;
    }

    ::-webkit-scrollbar {
        display: none !important;
    }

    * {
        box-shadow: none !important;
        background: transparent !important;
    }

    @page {
        margin: 1in;
    }
}