@use '@/styles/base.scss';

.navbar {
    display: flex;
    float: row;
    background-color: var(--surface);
    font-family: 'Open Sans', sans-serif;
    height: 4rem;
    width: 100vw;
    padding: 0;
    margin: 0;

    @media screen and (max-width: 600px) {
        height: 3rem;
    }

    .brand {
        margin: auto;
        margin-bottom: 0.5rem;
        margin-left: 2rem;
        font-size: 2rem;
        color: var(--accent);

        i {
            margin-right: 1rem;
        }

        @media screen and (max-width: 500px) {
            font-size: 1.25rem;
        }
    }

    .link {
        // padding: 1.5rem 0 .5rem 2rem;
        // margin: auto;
        margin-top: 1.5rem;
        margin-right: 2rem;
        
        &-text {
            font-size: 1.5rem;
            color: var(--accent);
            text-decoration: none;

            &:hover {
                color: var(--muted);
            }

            &-active {
                font-size: 1.5rem;
                color: var(--text);
            }
        }

        @media screen and (max-width: 500px) {
            display: none;
        }
    }

    .hamburger {
        display: none;
    }

    @media screen and (max-width: 500px) {
        .hamburger {
            display: inline;
            position: absolute;
            right: 1rem;
        }

        .mobile-menu {
            position: absolute;
            top: 0;
            z-index: 10;
            height: 100vh;
            width: 100%;
            background-color: base.$dark-bg;
        }
    }

    @media print {
        display: none;
    }
}

@media screen and (max-width: 500px) {
    .mobile-menu {
        // position: absolute;
        // top: 0;
        z-index: 10;
        height: calc(100vh - 9rem);
        width: 100%;
        background-color: base.$dark-bg;

        .link {
            padding: 1rem 3rem;

            i {
                width: 2rem;
            }
        
            &-text {
                font-size: 1.5rem;
                color: base.$text;
                text-decoration: none;

                &-active {
                    font-size: 1.5rem;
                    color: base.$red-accent;
                }
            }
        }
    }
}
