.navbar {
    position: relative;
    display: flex;
    // justify-content: space-between;
    gap: 2rem;
    align-items: last baseline;
    background-color: var(--surface);
    font-family: 'Open Sans', sans-serif;
    height: 4rem;
    width: 100vw;
    padding: 0 2rem;
    z-index: 100;

    @media screen and (max-width: 600px) {
        height: 3rem;
    }

    // .link {
    //     font-size: 1.2rem;

    //     a {
    //         text-decoration: none;

    //         &-text:hover {
    //             color: var(--accent) !important;
    //             text-decoration: underline;
    //         }
    //     }

    //     @media screen and (max-width: 600px) {
    //         display: none;
    //     }
    // }

    @media print {
        display: none;
    }
}

.brand {
    display: flex;
    align-items: center;
    font-size: 2rem;
    color: var(--accent);

    i {
        margin-right: 1rem;
    }
}

.hamburger {
    display: none;
    cursor: pointer;
    font-size: 1.5rem;

    @media screen and (max-width: 600px) {
        display: block;
    }
}

.mobile-menu {
    position: fixed;
    // justify-content: space-between;
    align-items: flex-end;
    top: 4rem;
    left: 0;
    width: 100%;
    height: calc(100vh - 4rem);
    background-color: var(--surface);
    border-top: 1px solid var(--accent);
    z-index: 99;
    display: none;

    &.open {
        display: block;
    }

    .link {
        padding: 1rem 3rem;

        i {
            width: 2rem;
        }

        &-text {
            font-size: 1.5rem;
            text-decoration: none;

            &-active {
                color: var(--text);
            }
        }
    }

    @media screen and (max-width: 600px) {
        display: block;
    }

    @media print {
        display: none;
    }
}