.admin-dashboard {
    display: flex;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.admin-content {
    // margin-left: 22.5rem;
    flex-grow: 1;
    padding: 2rem;
    overflow-y: auto;
    background-color: #1a1a1a;
    z-index: 0;
}
