$bg: #121212;
$text: #e0e0e0;
$accent: #39FF14;
$sidebar-bg: #1a1a1a;
$print-text: DarkGray;

@mixin noScroll {
    overflow-x: hidden;
    overflow-y: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
