@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

/*
    any use of 100vh should use
    
    height: calc(var(--vh, 1vh) * 100);
*/

html,
body,
#__next {
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

@media print {

    html,
    body,
    #__next {
        font-size: 0.92rem;
    }

    * {
        color: #0f0f0f !important;
    }

    * *:not(ul) {
        padding: 0;
        margin: 0;
    }

    * *:not(h1, h2, h3, h4, h5, h6) {
        color: #3e3e3e !important;
    }

    ul,
    li {
        margin-top: 0;
        margin-bottom: 0;
    }

    ul {
        padding-bottom: 1rem;
    }
}