@use 'base';

.header {
    width: 30%;
    background-color: base.$sidebar-bg;
    padding: 0 1em;
    color: base.$text;

  h1 {
    color: base.$accent;
    font-family: 'Oswald', sans-serif;
  }

  .tagline {
    font-style: italic;
    margin-bottom: 1rem;
  }

  a {
    color: base.$accent;
    text-decoration: none;
  }
}
