@use 'base';

section {
    @media screen and (max-width: 500px) {
        h2 {
            width: 100%;
        }
    }

    @media print {
        color: base.$print-text;
        page-break-inside: avoid;

        h2 {
            font-size: 1.25rem;
        }
    }
}

@media print {
    .pb-before {
        page-break-before: always;
    }
}