@use 'base';

.sidebar {
    background-color: base.$light-bg;
    color: base.$text;
    margin: 0;
    padding: 0 2rem;

    Section {
        padding: 0;

        @media print {
            h2 {
                color: base.$print-accent;
            }
        }
    }

    &-content {
        padding-bottom: 0.5rem;

        h3 {
            font-size: 1rem;
            margin: 0;

            a {
                color: base.$accent;
                text-decoration: none;

                @media print {
                    color: base.$print-text;
                }
            }
        }
    }

    @media print {
        color: base.$print-text;
        padding: 0 1rem;

        h2 {
            font-size: 1.25rem;
        }

        .pb-before {
            page-break-before: always;
        }
    }
}
