@use 'base';

.sidebar {
    height: 100vh;
    background-color: base.$sidebar-bg;
    color: base.$text;
    margin: 0;
    padding: 0 2rem;

    h2 {
        margin: .25rem 0;
    }

    h3 {
        font-size: 1rem;
        margin: 0;
    }

    &-content {
        padding-bottom: 0.5rem;
    }

    @media print {
        background-color: white;
        color: black;

        h2 {
            font-size: 1.25rem;
        }
    }
}
