.footer {
    background-color: var(--muted);

    color: var(--text);
    text-align: center;
    border-top-left-radius: 256px;
    border-top-right-radius: 128px;
    background: linear-gradient(to right, var(--surface), var(--muted));

    @media print {
        display: none;
    }

    .socialLinks {
        padding: 0.5rem;
    }

    .link:hover {
        color: var(--muted);
    }

    .footerText {
        padding-bottom: 0.5rem;
    }
}