@use "sass:string";

.heroImage {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 1rem;

    border-top-left-radius: 12px;
    border-bottom-left-radius: 32px;

    background-image:
        var(--hero),
        linear-gradient(to right, var(--muted), var(--surface));

    background-size:
        contain,
        cover;

    background-repeat:
        no-repeat,
        no-repeat;

    background-position:
        left,
        center;

    height: auto;
    width: 100%;
    max-height: 200px;
    aspect-ratio: 3 / 2;

    p {
        font-size: 2rem !important;
        font-weight: 500;

        @media (max-width: 600px) {
            position: relative;
            top: 4.5rem;
            font-size: 1.5rem !important;
        }
    }

    @media (max-width: 600px) {
        max-height: 150px;
        background-position: center;
    }

    @media print {
        display: none;
    }
}

.leftSpacer {
    flex: 1;
    height: auto;
    height: 200px;
    width: 100px;
    position: absolute;
    left: 0;
    z-index: -1;
    background-color: var(--surface);
}

.themeText {
    flex: 1;
    text-align: right;
}

.heroText {
    position: relative;
    z-index: 1;
    font-size: 2rem;
    color: var(--text);
    font-family: 'Poetsen One', sans-serif;
    line-height: 1.4;
    max-width: 800px;
    margin: 0 auto;
}