@use "sass:string";

.heroImage {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 1rem;

    border-top-left-radius: 16px;
    border-bottom-left-radius: 32px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 128px;

    background-image:
        var(--hero),
        linear-gradient(to right, var(--muted), var(--surface));

    background-size:
        contain,
        cover;

    background-repeat:
        no-repeat,
        no-repeat;

    background-position:
        left,
        center;

    height: auto;
    width: 100%;
    max-height: 200px;
    aspect-ratio: 3 / 2;

    @media (max-width: 600px) {
        max-height: 150px;
        background-position: center;
    }

    @media print {
        display: none;
    }
}

.leftSpacer {
    flex: 1;
    height: auto;
    height: 200px;
    width: 100px;
    position: absolute;
    left: 0;
    z-index: -1;
    background-color: var(--surface);
}

.themeText {
    flex: 1;
    text-align: right;
}

.heroText {
    width: 100%;
    padding: 1rem;
    z-index: 1;
    font-size: 2rem !important;
    font-weight: 500;
    color: var(--text);
    font-family: 'Poetsen One', sans-serif;
    line-height: 1.4;

    span {
        float: right;
        max-width: 50%;
    }

    // margin: 0 auto;

    @media (max-width: 760px) {
        position: relative;
        text-align: center;
        top: 4.5rem;
        max-width: 100%;
        font-size: 1.5rem !important;
    }
}