.container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    padding: 0.5rem 2rem; // 2rem left and right
    background-color: var(--surface);
    z-index: 5;

    @media (max-width: 600px) {
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }

    @media print {
        display: none;
    }
}

.print {
    button {
        background-color: var(--accent);
        color: var(--surface);
        font-weight: bold;
        border: none;
        border-radius: 0.25rem;
        padding: 0.5rem;
        cursor: pointer;
    }

    @media screen and (max-width: 500px) {
        display: none;
    }
}