.container {
    display: flex;
    flex-direction: row;
    min-height: calc(var(--vh, 1vh) * 100);
    width: 100%;
    gap: 2rm;
    margin: 0;
    padding: 0;

    aside {
        display: flex;
        flex-direction: column;
        background-color: var(--surface);
        min-width: 300px;
        min-height: calc(var(--vh, 1vh) * 100);
        width: 30%;
        padding: 2rem;
        margin: 0;
        padding-bottom: 0;
        flex-shrink: 0;

        @media print {
            padding: 0.5rem;
        }
    }

    main {
        flex: 1;
        padding: 2rem;
        margin: 0;
        padding-bottom: 0;
        min-height: calc(var(--vh, 1vh) * 100);

        @media print {
            padding: 0.5rem;
        }
    }

    @media (max-width: 600px) {
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;

        aside,
        main {
            min-height: auto;
            margin: 0;
            padding: 1rem;
            width: 100%;
        }
    }
}