.bookGrid {
    background-color: var(--surface);
}

.bookCovers {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    max-width: 100%;
    justify-content: flex-start;

    img {
        max-width: 100%;
        height: auto;
        flex: 1 1 45%; // allows two images side by side
        object-fit: contain;
    }
}

.card {
    margin: 1rem;

    h3 {
        margin: 0;
        padding: 0;
        font-size: 1.5rem;;
        color: var(--accent);
    }

    p {
        margin: 0;
        padding: 1rem;
    }

    a {
        margin-top: 1rem;
        text-decoration: none;
        font-size: 1.2rem;
        font-weight: bold;
    }
}

.buyNow {
    padding: 1rem;
    background-color: var(--bg);
    border: solid 4px var(--border);
    text-align: center;
}

.breadcrumbToggle {
    button {
        margin: 0 0.25rem;
        padding: 0.25rem;
        background-color: var(--accent);
        color: var(--muted);
        font-size: 1.2rem;
    }

    @media print {
        display: none;
    }
}

.descriptionContent {
    p {
        color: var(--text);
        font-size: 1.2rem;
    }
}