.resumeHeader {
    margin: 0;
    padding: 0;

    h1 {
        padding: 0;
        margin: 0;
    }

    ul {
        list-style: none;
        padding: 0;

        li {
            margin-bottom: 0.5rem;
        }
    }
}

.tagline {
    font-style: italic;
    padding-bottom: 1rem;
}

.section {
    padding-top: 1rem;
    margin: 0;

    h3 {
        margin: 0;
        padding: 0;
        font-size: 1rem;
    }
}

.projects {
    margin: 0;
    padding: 0 2rem;
    background-color: var(--surface);

    @media print {
        padding: 0;
    }
}

.loopContainer {
    margin-bottom: 1rem;
}

.pagebreakBefore {
    page-break-before: always;
}

.noBreakInside {
    page-break-inside: avoid;
}