@use '@/styles/base.scss';

.resume-header {
    color: var(--text);

    h1 {
        font-size: 2rem;
        color: var(--accent);
    }

    .tagline {
        font-style: italic;
        margin-bottom: 1rem;
    }

    a {
        color: var(--accent);
        text-decoration: none;
    }

    ul {
        list-style: none;
        padding: 0;

        li {
            margin-bottom: 0.5rem;
        }
    }

    @media print {
        background-color: white;
        color: base.$print-text;
        margin: 0;
        padding: 0;

        h1 {
            color: base.$print-accent;
        }

        a {
            color: base.$print-text;
        }

        .no-print {
            display: none;
        }
    }
}

i {
    min-width: 1rem;
    margin-right: 0.5rem;
}
