.menu {
    h2 {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 1rem 0 0;
    }

    li {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 0.5rem;

        a {
            color: var(--text);

            &:hover {
                color: var(--accent);
            }
        }

        .editIcon {
            margin-left: 0.5rem;
            font-size: 0.9rem;
        }
    }
}

.active {
    font-weight: bold;
    color: var(--accent);
}