.nav {
    margin: 0;
    padding: 0;
    background-color: var(--surface);
    color: var(--text);

    ul {
        display: flex;
        gap: 0.5rem;
        list-style: none;
        padding: 0.5rem;
        margin: 0;
    }

    a:hover {
        color: var(--muted);
    }

    @media print {
        display: none;
    }

    @media screen and (max-width: 500px) {
        display: none;
    }
}