.link {
    font-size: 1.2rem;

    a {
        text-decoration: none;

        &:hover {
            color: var(--muted) !important;
        }
    }

    @media screen and (max-width: 600px) {
        display: none;
    }
}