.menu {
    h2 {
        padding-bottom: 1rem;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            margin-bottom: 0.5rem;

            a {
                color: var(--text);
                // text-decoration: none;

                // &:hover {
                //     text-decoration: underline;
                // }
            }
        }
    }
}

.active {
    font-weight: bold;
    color: var(--accent);
}