.menu {
    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            margin-bottom: 0.5rem;

            a {
                color: var(--text);
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}